.wp-block-columns
  @extend %content-wrapper

.wp-block
  &.--heading
    .--centered
      text-align: center

  &.--paragraph
    line-height: 2.0rem

  &.--list
    & > .content-wrapper
      & > ul
        margin: 0

        &.columns
          display: flex
          list-style: none
          padding: 2.4rem 0

          & > li
            flex-grow: 1
            flex-basis: 0
            padding: 0 2.4rem
            text-align: center
