.wp-block-columns
  @extend %content-wrapper

.wp-block
  &.--paragraph
    line-height: 2.0rem

.wp-block
  &.--list
    & > ul
      display: flex
      margin: 0
      list-style: none
      padding: 2.4rem 0

      & > li
        flex-grow: 1
        flex-basis: 0
        padding: 0 2.4rem
        text-align: center
