.site-header
  background: white
  padding: 2.0rem 0
  position: fixed
  top: 0
  width: 100%
  z-index: 1

  & > .content-wrapper
    align-items: center
    display: flex
    justify-content: space-between
    width: 50%

    & > .entry-title
      color: white
      text-align: center

.site-branding
  & > .site-title
    & > .site-anchor
      &,
      & > .image
        display: block
